app = "paper-review"
primary_region = "iad"

[build]

[mounts]
  source = "pb_data"
  destination = "/data"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[services]]
  protocol = "tcp"
  internal_port = 8090

  [[services.ports]]
    port = 8090
    handlers = ["tls", "http"]

[env]
  NODE_ENV = "production"
